.login-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    width: 796px;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(51, 163, 170, 0.83) 0%, rgba(16, 112, 118, 0.83) 100%), url('/assets/inicio.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: 80%;
    text-align: left;
  }
  
  .login-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .login-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  
  .monitoring-container {
    margin-bottom: 30px;
  }
  
  .monitoring-title {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  
  .monitoring-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
  }
  
  .right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .portal-title {
    width: 368px;
    font-family: 'Poppins', sans-serif;
    font-size: 36.48px;
    font-weight: 600;
    line-height: 54.71px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .signin-title {
    width: 165px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .email-label {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .email-input, .password-input {
    width: 393px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-container {
    position: relative;
    width: 393px;
  }
  
  .eye-icon {
    position: absolute;
    top: 36%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 393px;
  }
  
  .forgot-password {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #47464A;
  }
  
  .signin-button {
    width: 164px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #33A3AA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  